1. Write a program to reverse a string.

In [1]:
txt = "Lets learn Data Science"

In [2]:
txt[::-1]

'ecneicS ataD nrael steL'

In [4]:
def rev_string(txt):
    return txt[::-1]

rev_string("Lets get this reversed")

'desrever siht teg steL'

2. Check if a string is a palindrome.

In [8]:
def IsPalindrome(txt1):
    if txt1 == txt1[::-1]:
        return "Yes",txt1 ,"is Palindrome"
    else:
        return "NOOO", txt1, "ISNT Palindrome"

In [9]:
IsPalindrome("LoovvvooL")

('Yes', 'LoovvvooL', 'is Palindrome')

In [10]:
IsPalindrome("Leve")

('NOOO', 'Leve', 'ISNT Palindrome')

3. Convert a string to uppercase.

In [13]:
txt

'Lets learn Data Science'

In [11]:
txt.upper()

'LETS LEARN DATA SCIENCE'

4. Convert a string to lowercase.

In [12]:
txt.lower()

'lets learn data science'

5. Count the number of vowels in a string.
6. Count the number of consonants in a string.

In [14]:
input_string = input()

 what are you doing?

In [15]:
v_count = 0
c_count = 0
for a in input_string:
    if a in "aeiouAEIOU":
        v_count = v_count +1
    else:
        c_count = c_count +1
        
print("The number of vowels in", input_string ,"are", v_count)
print("The number of Consonents in", input_string, "are", c_count)

The number of vowels in what are you doing? are 7
The number of Consonents in what are you doing? are 12

7. Remove all whitespaces from a string.

In [19]:
input_string

'what are you doing?'

In [16]:
def remove_whitespaces(input_string):
    return input_string.replace(" ","")
print("After removing white Spaces from:", input_string,  "The output is:", remove_whitespaces(input_string))

After removing white Spaces from: what are you doing? The output is: whatareyoudoing?

In [17]:
input_string.replace(" ","")

'whatareyoudoing?'

8. Find the length of a string without using the `len()` function.

In [18]:
n_count=0
for a in input_string:
    n_count = n_count +1
print("The length of the straing", input_string, "is", n_count)

The length of the straing what are you doing? is 19

In [20]:
def length(str):
    counts = 0
    for k in str:
        counts = counts +1
        
    return counts

text1 = input()
length(text1)
print("length of:", text1, "is", length(text1))

 DataScience

length of: DataScience is 11

9. Check if a string contains a specific word.

In [33]:
def check(str):
    if str in input_string:
        return "Yes", str, "is in" ,input_string
    else:
        return "No", str, "ISNT in" ,input_string
    

print(check("are"))
print(check("if"))

('Yes', 'are', 'is in', 'what are you doing?')
('No', 'if', 'ISNT in', 'what are you doing?')

10. Replace a word in a string with another word.

In [34]:
input_string.replace("you", "your daily expenses")

'what are your daily expenses doing?'

In [35]:
print("The repalced String of" , input_string, "is" , input_string.replace("you", "your daily expenses"))

The repalced String of what are you doing? is what are your daily expenses doing?

11. Count the occurrences of a word in a string.

In [36]:
text="the pani in the panipuri is very paniri"

In [37]:
text.count("pani")

3

12. Find the first occurrence of a word in a string.

In [38]:
text2 ="PW Skills is a good class with good faculties"

In [40]:
print("The first occurrence of good", text2.find("good"))

The first occurrence of good 15

In [43]:
text2.find("S")

3

13. Find the last occurrence of a word in a string.

In [46]:
print("The last occurrence of good", text2.rfind("good"))

The last occurrence of good 31

In [49]:
"Where".rfind("e")

4

14. Split a string into a list of words

In [51]:
text2

'PW Skills is a good class with good faculties'

In [50]:
text2.split()

['PW', 'Skills', 'is', 'a', 'good', 'class', 'with', 'good', 'faculties']

15. Join a list of words into a string

In [52]:
list1 = ["I", "am", "learning", "Data-Science"]

In [53]:
" ".join(list1)

'I am learning Data-Science'

In [55]:
" ".join(["I", "am", "good"])

'I am good'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [56]:
text3 = "Hello, How are you doing?"

In [57]:
text3.replace(" ","_")

'Hello,_How_are_you_doing?'

In [61]:
text3.split("H") #Split at H

['', 'ello, ', 'ow are you doing?']

17. Check if a string starts with a specific word or phrase.

In [62]:
text3

'Hello, How are you doing?'

In [63]:
text3.startswith("Hello")

True

In [64]:
text3.startswith("hello")

False

18. Check if a string ends with a specific word or phrase.

In [65]:
text3.endswith("?")

True

In [66]:
text3.endswith("doing")

False

19. Convert a string to title case

In [67]:
text4 = "how is your data science course going?"

In [68]:
print("The title case for:",text4,"is:", text4.title())

The title case for: how is your data science course going? is: How Is Your Data Science Course Going?

20. Find the longest word in a string.

In [70]:
input_string = input("please enter the input string:")

length = 0 #initialise the length to 0
longest_word = ""  #initialise the word to empty


#convert the input string into list by using split 
for word in input_string.split():
    if (len(word) > length):
        length = len(word)
        longest_word = word

        
print("The longest word in the input string is: ",longest_word, "With a word count of :",length)

please enter the input string: how is your data science course going?

The longest word in the input string is:  science With a word count of : 7

21. Find the shortest word in a string.

In [73]:
length =100 #set the length tp any maximum value suppose 100
shortest_word = 0

for i in input_string.split():
    if len(i)< length:
        length = len(i)
        shortest_word = i
        
print("The shortest word in",input_string ,"is:", shortest_word, "With a word count of :", length)

The shortest word in how is your data science course going? is: is With a word count of : 2

22. Reverse the order of words in a string.

In [74]:
print(input_string.split())
print("The reverse the order of words in a input string :",input_string.split()[::-1])

['how', 'is', 'your', 'data', 'science', 'course', 'going?']
The reverse the order of words in a input string : ['going?', 'course', 'science', 'data', 'your', 'is', 'how']

23. Check if a string is alphanumeric.

In [75]:
t = "data12"
t.isalnum()

True

In [76]:
s = 'Py.thon'
s.isalnum()

False

24. Extract all digits from a string.

In [77]:
k = "There are 24 heads and 48 legs"

In [84]:
k.split()

['There', 'are', '24', 'heads', 'and', '48', 'legs']

In [88]:
k.split()[5].isdigit()

True

In [90]:
print("The digits in the string are:")
for i in k.split():
    if i.isdigit():
        print(i, end =",")

The digits in the string are:
24,48,

25. Extract all alphabets from a string.

In [96]:
print("The Alphabets in the string are:")
for i in k.split():
    if i.isalpha():
        print(i, end = ",")

The Alphabets in the string are:
There,are,heads,and,legs,

26. Count the number of uppercase letters in a string.

In [97]:
k.split()

['There', 'are', '24', 'heads', 'and', '48', 'legs']

In [126]:
h = "aLPhAbETs"

In [127]:
len(h)

9

In [128]:
upper = 0
for i in range(len(h)):
    if h[i].isupper():
        upper = upper+1

print("The number of uppercase letters in",h,"is:",upper)

The number of uppercase letters in aLPhAbETs is: 5

27. Count the number of lowercase letters in a string.

In [129]:
lower = 0
for i in range(len(h)):
    if h[i].islower():
        lower = lower +1
print("The number of lowercase letters in a string:", lower)

The number of lowercase letters in a string: 4

28. Swap the case of each character in a string.

In [130]:
print("The Swaped case of each character of",h, "is:",h.swapcase())

The Swaped case of each character of aLPhAbETs is: AlpHaBetS

29. Remove a specific word from a string.

In [131]:
k

'There are 24 heads and 48 legs'

In [137]:
def rem(word):
    if word in k:
        t = k.replace("are","")
        #print(h)
        return t
        
print("After removing 'are' from:", k, ".The Output is:",rem("are"))

After removing 'are' from: There are 24 heads and 48 legs .The Output is: There  24 heads and 48 legs

30. Check if a string is a valid email address.

In [158]:
import re
input_email1 = "filter15@yesfutura.com"
input_email2  = "helpine@.com"
email_format = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'


def validity(email):
    if re.fullmatch(email_format,email):
        print(email,"Is a Valid Email Address")
    else:
        print(email, "Is a Non-Valid Email Address")
        

validity(input_email1)

validity(input_email2)
validity("happy@gmail.com")

filter15@yesfutura.com Is a Valid Email Address
helpine@.com Is a Non-Valid Email Address
happy@gmail.com Is a Valid Email Address

31. Extract the username from an email address string.

In [159]:
input_email1.split("@")

['filter15', 'yesfutura.com']

In [160]:
print("The UserName is:",input_email1.split("@")[0])

The UserName is: filter15

32. Extract the domain name from an email address string.

In [163]:
print("The Domain Name Is:", input_email1.split("@")[1].split(".")[0])

The Domain Name Is: yesfutura

33. Replace multiple spaces in a string with a single space.

In [164]:
g = "Hello   , How    Are you  Doing "

In [165]:
g.split()

['Hello', ',', 'How', 'Are', 'you', 'Doing']

In [167]:
" ".join(g.split())

'Hello , How Are you Doing'

34. Check if a string is a valid URL.

In [172]:
string = 'the data of https://salmon-carpenter-zmqep.pwskills.app/lab/workspaces/auto-F/tree/work should have a https://www.bollywood.com/'
print(string)
print(string.split())

the data of https://salmon-carpenter-zmqep.pwskills.app/lab/workspaces/auto-F/tree/work should have a https://www.bollywood.com/
['the', 'data', 'of', 'https://salmon-carpenter-zmqep.pwskills.app/lab/workspaces/auto-F/tree/work', 'should', 'have', 'a', 'https://www.bollywood.com/']

In [184]:
valid_url=[]
for i in string.split():
    if i.startswith("https:") or i.startswith("http:"):
        valid_url.append(i)
print("The Valid URLs in the strings are:", valid_url )

The Valid URLs in the strings are: ['https://salmon-carpenter-zmqep.pwskills.app/lab/workspaces/auto-F/tree/work', 'https://www.bollywood.com/']

35. Extract the protocol (http or https) from a URL string.

In [185]:
url_string = "https://salmon-carpenter-zmqep.pwskills.app/lab/tree/work/20th_Aug_Python_DataTypes.ipynb"

In [189]:
url_string.split("//")[0]

'https:'

36. Find the frequency of each character in a string.

In [195]:
strings = "wwwhere are yoouu???????"

In [196]:
freq = {}
for i in strings:
    if i in freq:
        freq[i]= freq[i] +1
    else:
        freq[i] =1

freq

{'w': 3,
 'h': 1,
 'e': 3,
 'r': 2,
 ' ': 2,
 'a': 1,
 'y': 1,
 'o': 2,
 'u': 2,
 '?': 7}

37. Remove all punctuation from a string.

In [203]:
txt = "(Hey!!!), H\\ow much~ do:lla;rs$ & [@$}{ do you have: ?."

In [344]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [205]:
for i in string.punctuation:
    txt = txt.replace(i,"")

print("After removing all the punctuations, the text is:",txt)

After removing all the punctuations, the text is: Hey How much dollars   do you have

38. Check if a string contains only digits.

In [206]:
text = "12345"
text.isdigit()

True

39. Check if a string contains only alphabets.

In [209]:
text1 = "DataScience"
text2 = "Data123"
def alpha_check(text):
    if text.isalpha():
        print(text, "contains only alphabets")
    else:
        print(text, "conatin numbers and alphabets too")
        
alpha_check(text1)
alpha_check(text2)

DataScience contains only alphabets
Data123 conatin numbers and alphabets too

40. Convert a string to a list of characters.

In [213]:
string1 = "How are you doing?"
print(list(string1))

['H', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', ' ', 'd', 'o', 'i', 'n', 'g', '?']

41. Check if two strings are anagrams.

In [217]:
st1 = "level"
st2 = "velel"
st3 = "reason"
st4 = "season"

def ana(str1,str2):
    if sorted(str1) == sorted(str2):
        print(str1,"and", str2, "are anagrams")
    else:
        print(str1,"and", str2, "are NOT anagrams")
        
ana(st1,st2)
ana(st3,st4)
ana("lions","sonli")

level and velel are anagrams
reason and season are NOT anagrams
lions and sonli are anagrams

###42. Encode a string using a Caesar cipher.

Code Point Range	Class
0-31	non-printable character (smiling face, suit, bullet, circle, male sign, female sign, etc.)
32-64	punctuation, symbols, numbers, and space
65-90	uppercase English alphabet ( A-Z)
91-96	[, \\, ], ^, _, `
97-122	lowercase English alphabet (a-z)


ord() function in Python is used to convert a single Unicode character into its integer representation
chr() function takes Unicode (a number between 0 and 1,114,111) and returns corresponding character.

In [252]:
chr(65)

'A'

In [248]:
ord("?")

63

In [262]:
txt

'Hello MOTO'

In [268]:
ord("H")

72

In [266]:
ord("H") + s -64

8

In [270]:
chr(ord("H") + s -64)

'\x08'

In [271]:
chr(ord("H")-64)

'\x08'

In [269]:
72-64

8

In [287]:
result = []
shift  = 1
char = []

In [288]:
for i in range(len(txt)):
    char = txt[i]  
        # encypt_func uppercase characters in plain txt  
if (char.isupper()):
    result += chr((ord(char)  +shift - 64) % 26 + 65)  
        # encypt_func lowercase characters in plain txt  
else:
    result += chr((ord(char)  +shift - 96) % 26 + 97)  

txt = "Hello MOTO"  

result

['Q']

###43. Decode a Caesar cipher encoded string.

44. Find the most frequent word in a string.

In [291]:
text = "How are you coming . How are you . How is everyone . How is you sister ?"

In [293]:
freq = {}
for i in text.split():
    #print(i)
    if i in freq:
        freq[i] = freq[i]+1
    else:
        freq[i]=1
freq

{'How': 4,
 'are': 2,
 'you': 3,
 'coming': 1,
 '.': 3,
 'is': 2,
 'everyone': 1,
 'sister': 1,
 '?': 1}

45. Find all unique words in a string.

In [294]:
text = "what is Data Science? what is the best course to become a Data Scientist?"

In [295]:
print("All the unique words in:",text,"are:")
for word in set(text.split()):
    print(word)

All the unique words in: what is Data Science? what is the best course to become a Data Scientist? are:
become
the
course
what
Science?
is
Data
a
best
Scientist?
to

###
46. Count the number of syllables in a string.

47.Check if a string contains any special characters.

In [393]:
special = list(string.punctuation)
print(special)

['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']

In [407]:
string1 = "F89ko(+_@kik~*&j^&"

In [408]:
p= list(string1)
p

['F',
 '8',
 '9',
 'k',
 'o',
 '(',
 '+',
 '_',
 '@',
 'k',
 'i',
 'k',
 '~',
 '*',
 '&',
 'j',
 '^',
 '&']

In [410]:
print("Special Characters in string",string1, "are:")
for i in string1:
    if i in special:
        print(i)

Special Characters in string F89ko(+_@kik~*&j^& are:
(
+
_
@
~
*
&
^
&

48. Remove the nth word from a string.

In [310]:
#Convert the string to list
l = list("Data Scientist")
print(l)

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 't', 'i', 's', 't']

In [311]:
# a function to remove the nth letter from the string
def remove(n):
    print("After removing the",n, "th letter from string. The modified string is")
    del l[n]
    print("".join(l))
    
remove(2)

After removing the 2 th letter from string. The modified string is
Daa Scientist

49. Insert a word at the nth position in a string.

In [335]:
strings = "Many Do Little"
st= strings.split()
st

['Many', 'Do', 'Little']

In [339]:
def insert_word(position,word):
    st.insert(position,word)
    "".join(st)
    return st

In [341]:
insert_word(2, "care")

['Many', 'Do', 'care', 'Little']

50. Convert a CSV string to a list of lists.

In [342]:
x = 'apple,banana,cherry'
output = x.split(',')
print(output)

['apple', 'banana', 'cherry']

-----------------------------------------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------------------------------------

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [2]:
[int(i) for i in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [3]:
list1 = [1,2,3,"apple", "bat", True, False]

In [4]:
count = 0
for i in list1:
    count = count+1
print("The length of the list is:",count)

The length of the list is: 7

3. Append an element to the end of a list.

In [5]:
list1.append("total")

In [6]:
list1

[1, 2, 3, 'apple', 'bat', True, False, 'total']

4. Insert an element at a specific index in a list.

In [9]:
list1.insert(3,"045")

In [10]:
list1

[1, 2, 3, '045', '045', 'apple', 'bat', True, False, 'total']

5. Remove an element from a list by its value.

In [11]:
l = [10,20,30,40, "nothing", "a","b",True]

In [12]:
l.remove("b")

In [13]:
print("After removing the element by its value",l)

After removing the element by its value [10, 20, 30, 40, 'nothing', 'a', True]

6. Remove an element from a list by its index.

In [14]:
list4 = ["november", "august",True, False, 1, 55, 60]

In [15]:
list4.pop(1)
print("After removing the element from index 1",list4)

After removing the element from index 1 ['november', True, False, 1, 55, 60]

7. Check if an element exists in a list.

In [16]:

def exists(i):
    if i in list4:
        print(i, "exists in the list")
    else:
        print(i, "doesnt exists in the list")

In [17]:
exists(1)

1 exists in the list

In [18]:
exists("fly")

fly doesnt exists in the list

8. Find the index of the first occurrence of an element in a list.

In [20]:
list5 = [1,3,6,1,7,8,6]

In [21]:
def indexes(n):
    print("The index of the first occurence of", n ,"in the list is",list5.index(6))

In [22]:
indexes(6)

The index of the first occurence of 6 in the list is 2

9. Count the occurrences of an element in a list.

In [29]:
list5

[1, 3, 6, 1, 7, 8, 6]

In [27]:
def countx(x):
    print("the occurrences of",x," in a list is :",list5.count(6))

In [28]:
countx(6)

the occurrences of 6  in a list is : 2

10. Reverse the order of elements in a list.

In [30]:
list4

['november', True, False, 1, 55, 60]

In [31]:
print("Reverse the order of elements in a list",list4, "is:",list4[::-1])

Reverse the order of elements in a list ['november', True, False, 1, 55, 60] is: [60, 55, 1, False, True, 'november']

11. Sort a list in ascending order.

In [32]:
listA= [10, 8, 3, 22, 33,98,3, 7, 11, 100, 54]

In [33]:
listA.sort()

In [34]:
print("The Ascending Order is",listA)

The Ascending Order is [3, 3, 7, 8, 10, 11, 22, 33, 54, 98, 100]

12. Sort a list in descending order.

In [35]:
listA.sort(reverse=True)

In [36]:
print("The Descending Order is",listA)

The Descending Order is [100, 98, 54, 33, 22, 11, 10, 8, 7, 3, 3]

13. Create a list of even numbers from 1 to 20.

In [40]:
even_list =[]
for i in range(1,21):
    if i%2 == 0: #gives output as reminder
        even_list.append(i)

print("list of even numbers from 1 to 20 is",even_list)

list of even numbers from 1 to 20 is [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


14. Create a list of odd numbers from 1 to 20.

In [41]:
odd_list=[]
for i in range(1,21):
    if i % 2 != 0:
        odd_list.append(i)

print("list of odd numbers from 1 to 20 is",odd_list)

list of odd numbers from 1 to 20 is [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]


15. Find the sum of all elements in a list.

In [42]:
listB = [1,10,9,8,4,5,8,10]

In [43]:
total = 0
for i in range(0,len(listB)):
    total = total+listB[i]

print("The Sum Of Elelments in the List is:",total)

The Sum Of Elelments in the List is: 55

16. Find the maximum value in a list.

In [44]:
listA

[100, 98, 54, 33, 22, 11, 10, 8, 7, 3, 3]

In [45]:
max_value = 0
for i in listA:
    if i > max_value:
        max_value= i
#return max_value
        
print("maximum value in a list",listA,"is:", max_value)

maximum value in a list [100, 98, 54, 33, 22, 11, 10, 8, 7, 3, 3] is: 100

17. Find the minimum value in a list.

In [46]:
min_value = 1000
for i in listA:
    if i < min_value:
        min_value = i
print("manimum value in a list",listA,"is:", min_value)

manimum value in a list [100, 98, 54, 33, 22, 11, 10, 8, 7, 3, 3] is: 3


18. Create a list of squares of numbers from 1 to 10.

In [47]:
squares= [i**2 for i in range(1,11)]
print("The squares of numbers from 1 to 10 are:",squares)

The squares of numbers from 1 to 10 are: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [49]:
import random
random_numbers = []
for i in range(0,7):
    random_numbers.append(random.randint(0,100))

print("list of 7 random numbers",random_numbers)

list of 7 random numbers [8, 24, 49, 76, 27, 94, 73]

20. Remove duplicates from a list.

In [52]:
listC = [1, 5, 3, 6,1,8, 3, 5, 6, 1, 7,7,8]
#Set contains unique numbers

In [53]:
print("After Removing duplicates from a list is:",list(set(listC)))

After Removing duplicates from a list is: [1, 3, 5, 6, 7, 8]

21. Find the common elements between two lists.

In [54]:
listD= [3,5,7,9,"Kajol","Kiran"]

In [55]:
listF = [4,2,3,7,"Kiran","lion"]

In [57]:
print("the common elements between two lists are:",list(set(listD) & set(listF)))

the common elements between two lists are: [3, 'Kiran', 7]

In [58]:
print("the common elements between two lists are:",list(set(listD).intersection(set(listF))))

the common elements between two lists are: [3, 'Kiran', 7]

In [59]:
common_element =[]
for i in listD:
    if i in listF:
        common_element.append(i)
print("the common elements between two lists are:",common_element)

the common elements between two lists are: [3, 7, 'Kiran']


22. Find the difference between two lists.

In [62]:
diff_element= []
for i in listD + listF:
    if i not in listF or i not in listD:
        diff_element.append(i)
            
print("the different elements between two lists are:",diff_element)

the different elements between two lists are: [5, 9, 'Kajol', 4, 2, 'lion']


23. Merge two lists.

In [63]:
print("Merger of", listD, "and", listF, "is:",listD+listF)

Merger of [3, 5, 7, 9, 'Kajol', 'Kiran'] and [4, 2, 3, 7, 'Kiran', 'lion'] is: [3, 5, 7, 9, 'Kajol', 'Kiran', 4, 2, 3, 7, 'Kiran', 'lion']


24. Multiply all elements in a list by 2.

In [64]:
listD

[3, 5, 7, 9, 'Kajol', 'Kiran']

In [65]:
[i*2 for i in listD]

[6, 10, 14, 18, 'KajolKajol', 'KiranKiran']


25. Filter out all even numbers from a list.

In [66]:
listA

[100, 98, 54, 33, 22, 11, 10, 8, 7, 3, 3]

In [67]:
print("even numbers from a list is:",[i for i in listA if i%2 == 0])

even numbers from a list is: [100, 98, 54, 22, 10, 8]

26. Convert a list of strings to a list of integers.

In [68]:
str_list=  ['1', '9', '3', '5', '7']

In [69]:
print("Converting the list of strings to a list of integers:",[int(i) for i in str_list])

Converting the list of strings to a list of integers: [1, 9, 3, 5, 7]


27. Convert a list of integers to a list of strings.

In [70]:
listA

[100, 98, 54, 33, 22, 11, 10, 8, 7, 3, 3]

In [71]:
print("Converting a list of integers to a list of strings:",[str(i) for i in listA ])

Converting a list of integers to a list of strings: ['100', '98', '54', '33', '22', '11', '10', '8', '7', '3', '3']


28. Flatten a nested list.

In [77]:
nest_list= [[1], [2, 4], [4, 6, 8, 10]]

In [78]:
flat_list= []

In [79]:
for a in nest_list:
    for i in a:
        flat_list.append(i)

print("Flattened nested list is",flat_list)

Flattened nested list is [1, 2, 4, 4, 6, 8, 10]

In [82]:
F_list= sum(nest_list,[])
print("Flattened nested list is",F_list)

Flattened nested list is [1, 2, 4, 4, 6, 8, 10]


29. Create a list of the first 10 Fibonacci numbers.

In [84]:
f_list =[0,1]
for i in range(0,8):
    f_list.append(f_list[i]+f_list[i+1])
print("List of the first 10 Fibonacci numbers is :",f_list)

List of the first 10 Fibonacci numbers is : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]


30. Check if a list is sorted.

In [149]:
listA= [10, 8, 3, 22, 33,98,3, 7, 11, 100, 54]

In [89]:
listA.sort()
listA

In [86]:
listB = [1,10,9,8,4,5,8,10]

In [87]:
listC= [3,4,5,6,7,8,9]

In [110]:
def sort_list(listX):
    test_list = listX[:]
    test_list.sort()
    if listX == test_list:
        print(listX, "IS SORTED")
    else:
        print(listX, "ISNT SORTED")

In [111]:
sort_list(listA)

[3, 3, 7, 8, 10, 11, 22, 33, 54, 98, 100] IS SORTED

In [112]:
sort_list(listB)

[1, 4, 5, 8, 8, 9, 10, 10] IS SORTED

In [113]:
sort_list(listC)

[3, 4, 5, 6, 7, 8, 9] IS SORTED


31. Rotate a list to the left by `n` positions.

In [5]:
listA

[10, 8, 3, 22, 33, 98, 3, 7, 11, 100, 54]

In [115]:
def rotate_left(n):
    print("AFter Rotating a list to the left by", n, "positions:",listA[n:] + listA[:n])

In [116]:
rotate_left(4)

AFter Rotating a list to the left by 4 positions: [10, 11, 22, 33, 54, 98, 100, 3, 3, 7, 8]


32. Rotate a list to the right by `n` positions.

In [117]:
listB

[1, 4, 5, 8, 8, 9, 10, 10]

In [118]:
def rotate_right(n):
    print("AFter Rotating a list to the right by", n, "positions:",listB[-3:] + listB[:-3])

In [119]:
rotate_right(3)

AFter Rotating a list to the right by 3 positions: [9, 10, 10, 1, 4, 5, 8, 8]


33. Create a list of prime numbers up to 50.

In [170]:
prime =[]
for i in range(2,50): 
    for j in range(2,50):
        #print("i=",i, "j=",j)
        if i%j == 0:
            break
    if i == j:
        prime.append(i)
print("list of prime numbers up to 50",prime)

list of prime numbers up to 50 [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]


34. Split a list into chunks of size `n`.

In [152]:
listA

[10, 8, 3, 22, 33, 98, 3, 7, 11, 100, 54]

In [153]:
def split_list(chunks):
    split_list = []
    for i in range(0, len(listA),chunks):
        print(listA[i:i+chunks])

split_list(3)

[10, 8, 3]
[22, 33, 98]
[3, 7, 11]
[100, 54]

In [154]:
split_list(4)

[10, 8, 3, 22]
[33, 98, 3, 7]
[11, 100, 54]


35. Find the second largest number in a list.

In [157]:
listA

[3, 3, 7, 8, 10, 11, 22, 33, 54, 98, 100]

In [156]:
listA
listA.sort()
listA
print("The second largest number in a list:", listA[-2])

The second largest number in a list: 98

In [160]:
list1 = [-10,10, 108,20, 4, 45, 99]
maximum = max(list1)
minimum = min(list1)
#print("maximum value:",maximum)
#print("minimum value:",minimum)
new_list = list1
max_index = new_list.index(maximum)
#print("The index of the maximum value in the list is:",max_index)
new_list.pop(max_index)
#print("The new list after removing the largest value is: ",new_list)

print("The second largest number in a list is:", max(new_list))

The second largest number in a list is: 99

In [171]:
def second_lar(list1):
    #Remove Duplicates -make the list a set and then convert to list
    list2 = list(set(list1))
    #print(list2)
    #sort the list in descending order
    list2.sort(reverse=True)
    #print(list2)
    #Second largest is 2nd in the list
    print("Second largest in ", list1,"is:",list2[1])


36. Replace every element in a list with its square.

In [163]:
list1

[-10, 10, 20, 4, 45, 99]

In [172]:
list1 = [i**2 for i in list1]
list1

[100, 100, 400, 16, 2025, 9801]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [2]:
list3= ["A","B",9,"kalam",100,"One"]

In [3]:
{list3[i]:i for i in range(0,len(list3))}

{'A': 0, 'B': 1, 9: 2, 'kalam': 3, 100: 4, 'One': 5}

38. Shuffle the elements of a list randomly.

In [7]:
print("The elements of list before shuffling", list3)
import random
random.shuffle(list3)
print("The elements of list After shuffling", list3)

The elements of list before shuffling [100, 'kalam', 'One', 'B', 'A', 9]
The elements of list After shuffling ['A', 9, 100, 'kalam', 'B', 'One']

39. Create a list of the first 10 factorial numbers.

In [44]:
def fact(num):
    if num <0:
        return 0
    elif (num == 0 or num ==1):
        return 1
    else:
        fact1 = []
        fact1 = num * fact(num-1)
        return fact1

In [45]:
fact(4)

24

In [46]:
fact(0)

1

In [47]:
fact(-10)

0

40. Check if two lists have at least one element in common

In [ ]:
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
list3 = [9,10,11]
list4 = [1,0,0,1]

In [23]:
def common(list1,list2):
    flag = 0
    for i in list1:
        if i in list2:
            flag =1
    if flag == 1:
        print(list1,"and", list2, "have least 1 element in common")
    else:
        print(list1,"and", list2, "DONOT have least 1 element in common")

In [24]:
common(list1,list4)

[1, 2, 3, 4, 5] and [1, 0, 0, 1] have least 1 element in common

In [25]:
common(list2, list3)

[4, 5, 6, 7, 8] and [9, 10, 11] DONOT have least 1 element in common

In [26]:
common(list1,list2)

[1, 2, 3, 4, 5] and [4, 5, 6, 7, 8] have least 1 element in common

In [27]:
common(list1, list3)

[1, 2, 3, 4, 5] and [9, 10, 11] DONOT have least 1 element in common

41. Remove all elements from a list.

In [28]:
list4.clear()

In [29]:
list4

[]

42. Replace negative numbers in a list with 0.

In [23]:
list6= [-9,3,5,-4,-6,-101,90,0.80]
for i in range(0,len(list6)):
    if list6[i] < 0:
        list6[i] = 0
print("After replacing the negative numbers in a list with 0. The list is:",list6)

After replacing the negative numbers in a list with 0. The list is: [0, 3, 5, 0, 0, 0, 90, 0.8]

43. Convert a string into a list of words.

In [51]:
string1 = "Popular"

In [54]:
list5 =[]
for i in string1:
    list5.append(i)
list5

['P', 'o', 'p', 'u', 'l', 'a', 'r']

44. Convert a list of words into a string.

In [64]:
list7 = ["kind","music", "google", "am","I"]

In [65]:
string4 = ""

In [66]:
for i in list7:
    #print(i)
    string4 = string4 +str(i)+ " "
string4

'kind music google am I '

45. Create a list of the first `n` powers of 2.

In [68]:
[2**n for n in range(0,10)]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings.

In [49]:
strings = ["kinds", "examples", "words", "whats", "I", "am", "kindle", "for","A"]
max(strings, key = len)

'examples'

47. Find the shortest string in a list of strings.

In [46]:
strings = ["kinds", "example", "words", "whats", "I", "am", "kindle", "for","A"]

min(strings, key=len) # prints "i"

'I'

In [44]:
min(strings)

'I'

48. Create a list of the first `n` triangular numbers.

In [ ]:
1,3,6,10,15,21,28

In [60]:
tri_list =[]
num =0
for i in range(1, 11):
    num = num+i
    tri_list.append(num)
print(tri_list)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence

50. Swap two elements in a list by their indices.

In [31]:
list3= ["A","B",9,"kalam",100,"One"]

In [32]:
def swapping(index1, index2):
    list3[index1],list3[index2] = list3[index2],list3[index1]
    return list3

In [33]:
swapping(0,3)

['kalam', 'B', 9, 'A', 100, 'One']

---------------------------------------------------------------------------------------------------------------------------------------------

-------------------------------------------------------------------------------------------------------------------------------------------

1. Create a tuple with integers from 1 to 5.

In [100]:
tuple1= tuple(i for i in range(1,6))
tuple1

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [10]:
print("The third element of a tuple is:",tuple1[2])

The third element of a tuple is: 3


3. Find the length of a tuple without using the `len()` function.

In [12]:
count = 0
for i in tuple1:
    count = count+1
print("The length of the tuple is:",count)

The length of the tuple is: 5


4. Count the occurrences of an element in a tuple

In [10]:
tuple2 =(1, 2, 1,6,4,5,2,4,5,1,1,3, 4, 5,5,5,5)

In [11]:
def counts(element):
    count =0
    for i in tuple2:
        if i == element:
            count = count+1
    return count

In [12]:
counts(5)

6

In [13]:
counts(1)

4

In [14]:
counts(4)

3

5. Find the index of the first occurrence of an element in a tuple.

In [21]:
tuple2

(1, 2, 1, 6, 4, 5, 2, 4, 5, 1, 1, 3, 4, 5, 5, 5, 5)

In [26]:
def first_index(x):
    return "The index of the first occurrence of",x, "in a tuple is:",tuple2.index(x)

In [27]:
first_index(1)

('The index of the first occurrence of', 1, 'in a tuple is:', 0)

In [28]:
first_index(6)

('The index of the first occurrence of', 6, 'in a tuple is:', 3)

In [29]:
first_index(5)

('The index of the first occurrence of', 5, 'in a tuple is:', 5)

6.Check if an element exists in a tuple.

In [30]:
tuple2

(1, 2, 1, 6, 4, 5, 2, 4, 5, 1, 1, 3, 4, 5, 5, 5, 5)

In [39]:
def exists(x):
    if x in tuple2:
        print("Yes.", x,"exists in a tuple")
    else:
        print("No.", x, "doesnt exists in a tuple")

In [40]:
exists(1)

Yes. 1 exists in a tuple

In [41]:
exists(6)

Yes. 6 exists in a tuple

In [42]:
exists(10)

No. 10 doesnt exists in a tuple

7. Convert a tuple to a list.

In [43]:
tuple2

(1, 2, 1, 6, 4, 5, 2, 4, 5, 1, 1, 3, 4, 5, 5, 5, 5)

In [45]:
[i for i in tuple2]

[1, 2, 1, 6, 4, 5, 2, 4, 5, 1, 1, 3, 4, 5, 5, 5, 5]

8. Convert a list to a tuple.

In [46]:
list1 = ["apple",5,7,"joke",90,100,30,-100,0.5]

In [48]:
tuple3 = tuple(i for i in list1)
tuple3

('apple', 5, 7, 'joke', 90, 100, 30, -100, 0.5)

9. Unpack the elements of a tuple into variables.

In [61]:
language = ("java", "python", "c++","javascript","php")

(a,b,c,*d) = language

print(a)
print(b)
print(c)
print(d)

java
python
c++
['javascript', 'php']

10. Create a tuple of even numbers from 1 to 10.

In [63]:
even_tuple = tuple(i for i in range(1,11) if i%2 ==0)
even_tuple

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [64]:
odd_tuple = tuple(i for i in range(1,10) if i%2 !=0)
odd_tuple

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [70]:
tuple4 = even_tuple + odd_tuple
tuple4

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [87]:
tuple5 = (4,1,5)

In [81]:
tuple5*3

(4, 1, 5, 4, 1, 5, 4, 1, 5)

14. Check if a tuple is empty.

In [94]:
empty_tuple = ()

In [116]:
def check_tuple(tupleX):
    if len(tupleX) == 0:
        print("Tuple is empty")
    else:
        print("Tuple ISNT empty")

In [117]:
check_tuple(empty_tuple)

Tuple is empty

In [118]:
check_tuple(tuple1)

Tuple ISNT empty

15. Create a nested tuple.

In [6]:
tuple_1 = ( 7, 8, 2),
tuple_2 = (9, 6, 2, 1, 4),


nested_tuple = tuple_1 + tuple_2

print("Nested tuple is : ", nested_tuple )

Nested tuple is :  ((7, 8, 2), (9, 6, 2, 1, 4))

16. Access the first element of a nested tuple.

In [9]:
print("The first element of a nested tuple is:",nested_tuple[0][0])

The first element of a nested tuple is: 7


17. Create a tuple with a single element.

In [18]:
tuple1 = ("one",) #coz of the comma after the element, it is considered as a tuple
tuple1

('one',)

In [17]:
type(tuple1)

str


18. Compare two tuples.

In [20]:
tup1 = (2,3,5)
tup2 = (0,1,9)

In [21]:
tup1 > tup2

True

In [22]:
tup1 <tup2

False

In [24]:
tup1 == tup2

True

In [25]:
len(tup1) == len(tup2)

True

19. Delete a tuple.

In [93]:
tuple5
del tuple5
print("After deleting the tuple:")
tuple5

NameError: name 'tuple5' is not defined

20. Slice a tuple.

In [41]:
t1 = (1,3,8,"Kind", "low",60,"900",9,5,True)

In [42]:
t1

(1, 3, 8, 'Kind', 'low', 60, '900', 9, 5, True)

In [51]:
def slice(start,end):
    return t1[start:end+1]

In [52]:
slice(3,7)

('Kind', 'low', 60, '900', 9)

21. Find the maximum value in a tuple.
22. Find the minimum value in a tuple.

In [53]:
tX = (900,1000,1001,1002,9,10,1,0,-80,-100)

In [54]:
max(tX)

1002

In [55]:
min(tX)

-100

23. Convert a string to a tuple of characters.

In [56]:
string= "celebrations"

In [57]:
t3= tuple(string)
t3

('c', 'e', 'l', 'e', 'b', 'r', 'a', 't', 'i', 'o', 'n', 's')

24. Convert a tuple of characters to a string.

In [58]:
t3

('c', 'e', 'l', 'e', 'b', 'r', 'a', 't', 'i', 'o', 'n', 's')

In [59]:
str1 = ""
for i in t3:
    str1 = str1 + i
print("Converting tuple t3 to string:",str1)

Converting tuple t3 to string: celebrations

25. Create a tuple from multiple data types.

In [60]:
data_int=20,30
data_boolean = True, False
string = "python"
set1 = {"apple", "orange", 900,}
tuple1 = (9,4,"paper")
list1= [6,2]

In [61]:
tuple2 = data_int + data_boolean + tuple1

In [62]:
tuple2

(20, 30, True, False, 9, 4, 'paper')

In [63]:
type(tuple2)

tuple

26. Check if two tuples are identical.

In [64]:
t1= (4,5,7)
t2 =(9,4,6)
t3 =(9,4,6)

In [65]:
def same(ta,tb):
    if ta == tb:
        print(ta, "and", tb, "are IDENTICAL")
    else:
        print(ta, "and", tb ,"are NOT IDENTICAL")

In [66]:
same(t1,t2)
same(t2,t3)
same(t1,t3)

(4, 5, 7) and (9, 4, 6) are NOT IDENTICAL
(9, 4, 6) and (9, 4, 6) are IDENTICAL
(4, 5, 7) and (9, 4, 6) are NOT IDENTICAL

27. Sort the elements of a tuple.

In [67]:
tX

(900, 1000, 1001, 1002, 9, 10, 1, 0, -80, -100)

In [68]:
print("Sorted Tuple in Ascending order",sorted(tX))
print("Sorted Tuple in Descending Order", sorted(tX, reverse=True))

Sorted Tuple in Ascending order [-100, -80, 0, 1, 9, 10, 900, 1000, 1001, 1002]
Sorted Tuple in Descending Order [1002, 1001, 1000, 900, 10, 9, 1, 0, -80, -100]

28. Convert a tuple of integers to a tuple of strings.

In [80]:
tX

(900, 1000, 1001, 1002, 9, 10, 1, 0, -80, -100)

In [95]:
tup2 =tuple(str(i) for i in tX)
tup2

('900', '1000', '1001', '1002', '9', '10', '1', '0', '-80', '-100')

In [96]:
type(tup2[0])

str

29. Convert a tuple of strings to a tuple of integers.

In [97]:
t_str= ("45", "900","-656","3")

In [104]:
tup3 = tuple(int(i) for i in t_str)
tup3

(45, 900, -656, 3)

In [101]:
type(tup3[3])

int



30. Merge two tuples.

In [105]:
tup4 = tup2 +tup3
tup4

('900',
 '1000',
 '1001',
 '1002',
 '9',
 '10',
 '1',
 '0',
 '-80',
 '-100',
 45,
 900,
 -656,
 3)

In [109]:
print("Merging two tuples",t1, "and", t2, "The merged tuple is:", t1+t2)

Merging two tuples (4, 5, 7) and (9, 4, 6) The merged tuple is: (4, 5, 7, 9, 4, 6)

31. Flatten a nested tuple.

In [1]:
nested_tup  = ((1, 2), (3, 4), (5,9))
list2 = []
for t in nested_tup:
    list2 = list2 + list(t)

In [85]:
list2

[1, 2, 3, 4, 5, 9]

In [5]:
tuple(i for i in list2)

(1, 2, 3, 4, 5, 9)


32. Create a tuple of the first 5 prime numbers.

In [2]:
prime = []
for i in range(2,6):
    for j in range(2,6):
        if i%j == 0:
            break
    if i == j:
        prime.append(i)
prime

[2, 3, 5]

In [4]:
tuple(i for i in prime)

(2, 3, 5)


33. Check if a tuple is a palindrome.

In [143]:
tup1 = ("level")
tup2 = ("horse")

In [144]:
def palindrome(tup):
    if tup[0] == tup[-1]:
        print(tup, "IS PALINDROME")
    else:
        print(tup, "ISNT PALINDROME")

In [145]:
palindrome(tup1)

level IS PALINDROME

In [146]:
palindrome(tup2)

horse ISNT PALINDROME

In [147]:
palindrome("coilioc")

coilioc IS PALINDROME



34. Create a tuple of squares of numbers from 1 to 5.

In [7]:
tuple(i*i for i in range(1,6))

(1, 4, 9, 16, 25)



35. Filter out all even numbers from a tuple.

In [8]:
t8= (13,46,89,12,5,6,90,46,27,18,7)

In [9]:
print("Filtering out all even numbers from a tuple.",t8, "the output tuple is:",tuple( i for i in t8 if i%2 !=0))

Filtering out all even numbers from a tuple. (13, 46, 89, 12, 5, 6, 90, 46, 27, 18, 7) the output tuple is: (13, 89, 5, 27, 7)



36. Multiply all elements in a tuple by 2.

In [14]:
t5 = (3,6,9,1,0,-8,18,90)

In [56]:
print("Multiplying all elements in a tuple",t5, "by 2. The output tuple is:",tuple(i*2 for i in t5))

Multiplying all elements in a tuple (3, 6, 9, 1, 0, -8, 18, 90) by 2. The output tuple is: (6, 12, 18, 2, 0, -16, 36, 180)

37. Create a tuple of random numbers.

In [82]:
import random
list1 =[]

for i in range(0,9):
    list1.append(random.randint(2,10))
print("A tuple with 9 random numbers between 2 to 9",tuple(list1))

A tuple with 9 random numbers between 2 to 9 (2, 8, 8, 6, 2, 8, 3, 7, 5)


38. Check if a tuple is sorted.

In [86]:
t1 = (2,4,6,8,9)
t2 = (18,12,5,7,8)

In [88]:
tuple(set(t2))

(5, 7, 8, 12, 18)

In [89]:
def sort_tup(t):
    if tuple(set(t)) == t:
        print(t,"is sorted")
    else:
        print(t, "isnt sorted")

In [90]:
sort_tup(t1)

(2, 4, 6, 8, 9) is sorted

In [91]:
sort_tup(t2)

(18, 12, 5, 7, 8) isnt sorted

In [93]:
sort_tup(t5)

(3, 6, 9, 1, 0, -8, 18, 90) isnt sorted

In [116]:
if t2 == tuple(sorted(t2)):
    print("Sorted")
else:
    print("Not Sorted")

Not Sorted


39. Rotate a tuple to the left by `n` positions.

In [16]:
t5

(3, 6, 9, 1, 0, -8, 18, 90)

In [19]:
print("After rotating tuple to the left by 3 positions",t5[3:] + t5[:3])

After rotating tuple by 3 positions (1, 0, -8, 18, 90, 3, 6, 9)


40. Rotate a tuple to the right by `n` positions.

In [24]:
print("After rotating tuple to the right by 5 position", t5[-5:]+ t5[:-5])

After rotating tuple to the right by 5 position (1, 0, -8, 18, 90, 3, 6, 9)


41. Create a tuple of the first 5 Fibonacci numbers.

In [31]:
fib_list = [0,1]
for i in range(0,8):
    fib_list.append(fib_list[i]+fib_list[i+1])
print("List of  first 5 Fibonacci numbers",fib_list)
fib_tuple = tuple(fib_list)
print("Tuple of first 5 Fibonacci numbers",fib_tuple)

List of  first 5 Fibonacci numbers [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
Tuple of first 5 Fibonacci numbers (0, 1, 1, 2, 3, 5, 8, 13, 21, 34)


42. Create a tuple from user input.

In [38]:
user_input = input()

 atm089

In [39]:
user_input

'atm089'

In [40]:
type(user_input)

str

In [46]:
list2=[]
for ele in user_input:
    list2.append(ele)
print(list2)
user_tuple = tuple(list2)
print("Tuple from user input is:",user_tuple)

['a', 't', 'm', '0', '8', '9']
Tuple from user input is: ('a', 't', 'm', '0', '8', '9')

In [45]:
type(user_tuple)

tuple


43. Swap two elements in a tuple.

In [63]:
t5

(3, 6, 9, 1, 0, -8, 18, 90)

In [64]:
#Convert the tuple into a list
#Swap the elements of the list
#Then convert it back to a tuple


list5 = list(t5)
def swap_elements(index1,index2):
    list5[index1],list5[index2] = list5[index2],list5[index1]
    #print(list5)
    print("After Swaping two elements in a tuple with indexes",index1,index2, "the swaped tuple is:", tuple(list5))

In [66]:
swap_elements(4,6)

After Swaping two elements in a tuple with indexes 4 6 the swaped tuple is: (3, 9, 6, 1, 18, -8, 0, 90)


44. Reverse the elements of a tuple.

In [67]:
t5

(3, 6, 9, 1, 0, -8, 18, 90)

In [71]:
print("After Reversing the elements of a tuple", t5, "The reversed tuple is:",t5[::-1])

After Reversing the elements of a tuple (3, 6, 9, 1, 0, -8, 18, 90) The reversed tuple is: (90, 18, -8, 0, 1, 9, 6, 3)


45. Create a tuple of the first `n` powers of 2.

In [74]:
tuple(2**n for n in range(0,10))

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512)


46. Find the longest string in a tuple of strings.

In [95]:
t = ("strong", "heavy","good", "popular","sam","hyperbola")

In [98]:
longest_string = ""
length = 0
for ele in t:
    if (len(ele)> length):
        length = len(ele)
        longest_string = ele
print("The Longest string in a tuple of strings is ",longest_string,"with a length of", length)

The Longest string in a tuple of strings is  hyperbola with a length of 9

47. Find the shortest string in a tuple of strings.

In [99]:
shortest_string = ""
length = 100
for ele in t:
    if (len(ele)<length):
        length = len(ele)
        shortest_string = ele
print("The Shortest string in a tuple of strings is ",shortest_string,"with a length of", length)

The Shortest string in a tuple of strings is  sam with a length of 3

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
triangular_number = (1,3,10,15,21,28,36)

In [133]:
def triangular_numbers(n):
    tri_num = [0]
    for i in range(1,n+1):
        tri_num.append(int(tri_num[i-1])+int(i))
    return(tuple(tri_num[1:]))
n=10    
print("Tuple with first",n, "triangular numbers is:",triangular_numbers(n))

Tuple with first 10 triangular numbers is: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)


49. Check if a tuple contains another tuple as a subsequence.


50. Create a tuple of alternating 1s and 0s of length `n`.

In [138]:
def alt_tuple(n):
    list4 =[]
    for i in range(0,n):
        if i%2 ==0:
            list4.append(1)
        else:
            list4.append(0)
    return tuple(list4)

alt_tuple(10)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

1. Create a set with integers from 1 to 5.

In [1]:
set1 =set(range(1,6))
set1

{1, 2, 3, 4, 5}


2. Add an element to a set.

In [2]:
set1.add(12)

In [3]:
set1

{1, 2, 3, 4, 5, 12}


3. Remove an element from a set.

In [4]:
def remove_ele(n):
    set1.remove(n)
    return set1
remove_ele(4)

{1, 2, 3, 5, 12}


4. Check if an element exists in a set.

In [5]:
def check_ele(element):
    if element in set1:
        print("Yes!!!", element, "exists in", set1)
    else:
        print("No!!!", element, "doesnt exists in", set1)

In [6]:
check_ele(5)

Yes!!! 5 exists in {1, 2, 3, 5, 12}

In [7]:
check_ele(7)

No!!! 7 doesnt exists in {1, 2, 3, 5, 12}


5. Find the length of a set without using the `len()` function.

In [8]:
count= 0
for i in set1:
    count = count+1
print("length of set",set1 , "is",count)

length of set {1, 2, 3, 5, 12} is 5


6. Clear all elements from a set.

In [9]:
set1.clear()
set1

set()


7. Create a set of even numbers from 1 to 10.

In [16]:
even_set={i  for i in range(1,11) if i%2==0}
even_set

{2, 4, 6, 8, 10}

In [17]:
type(even_set)

set


8. Create a set of odd numbers from 1 to 10.

In [18]:
odd_set ={i for i in range(1,11) if i%2 !=0}
odd_set

{1, 3, 5, 7, 9}


9. Find the union of two sets.

In [19]:
even_set.union(odd_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}


10. Find the intersection of two sets.

In [20]:
even_set

{2, 4, 6, 8, 10}

In [24]:
set2 ={2,3,4,5,6}

In [25]:
even_set.intersection(set2)

{2, 4, 6}



11. Find the difference between two sets.

In [17]:
even_set.difference(set2)

{8, 10}

12. Check if a set is a subset of another set.

In [18]:
set3 = {2,8}

In [19]:
set3.issubset(even_set)

True

In [20]:
set2.issubset(even_set)

False


13. Check if a set is a superset of another set.

In [21]:
even_set.issuperset(set3)

True

In [22]:
even_set.issuperset(set2)

False


14. Create a set from a list.

In [27]:
list1 =[1,5,7,1,3,7,"lion","angry", True,0,0,0,1,5,7,"10"]

In [28]:
set4 = set(list1)
set4

{0, 1, '10', 3, 5, 7, 'angry', 'lion'}


15. Convert a set to a list.

In [7]:
list(set4)

[0, 1, 3, 5, 7, 'angry', '10', 'lion']

In [8]:
[i for i in set4]

[0, 1, 3, 5, 7, 'angry', '10', 'lion']

16. Remove a random element from a set.

In [9]:
set4

{0, 1, '10', 3, 5, 7, 'angry', 'lion'}

In [10]:
def remove_random(n):
    set4.remove(n)
    return set4

In [11]:
remove_random(3)

{0, 1, '10', 5, 7, 'angry', 'lion'}

In [12]:
remove_random("10")

{0, 1, 5, 7, 'angry', 'lion'}


17. Pop an element from a set.

In [13]:
list2 =["school", 1,4,8,3,67,True,"punishment"]

In [14]:
import random
list2.pop(random.randrange(3))
list2

['school', 4, 8, 3, 67, True, 'punishment']


18. Check if two sets have no elements in common.

In [21]:
even_set

{2, 4, 6, 8, 10}

In [22]:
set5= {4,6,7,10,5,3}
set5

{3, 4, 5, 6, 7, 10}

In [31]:
set2

{2, 3, 4, 5, 6}

In [37]:
print("Check if ", even_set,"and",set4,"have no element in commom:" ,even_set.isdisjoint(set4))
print("The common elements are", even_set.intersection(set2))

Check if  {2, 4, 6, 8, 10} and {0, 1, 3, 5, 7, 'angry', '10', 'lion'} have no element in commom: True
The common elements are {2, 4, 6}

In [38]:
print("Check if ", even_set,"and",set5,"have no element in commom:" ,even_set.isdisjoint(set5))
print("The common elements are:", even_set.intersection(set5))

Check if  {2, 4, 6, 8, 10} and {3, 4, 5, 6, 7, 10} have no element in commom: False
The common elements are: {10, 4, 6}


19. Find the symmetric difference between two sets.

In [ ]:
#symmetric_difference- used to return a new set as the symmetric difference of two sets 
#symmetric_difference_update()- used to update a set with the symmetric difference of another set and itself

In [40]:
odd_set

{1, 3, 5, 7, 9}

In [41]:
set5

{3, 4, 5, 6, 7, 10}

In [42]:
odd_set.symmetric_difference(set5)

{1, 4, 6, 9, 10}


20. Update a set with elements from another set.

In [47]:
new_set = set(range(1,3))
new_set

{1, 2}

In [48]:
set5

{3, 4, 5, 6, 7, 10}

In [49]:
#Update new_set with elements from set5
for i in set5:
    new_set.add(i)
print("The updated set with elements from",set5,"is:",new_set)

The updated set with elements from {3, 4, 5, 6, 7, 10} is: {1, 2, 3, 4, 5, 6, 7, 10}

In [53]:
set4 = {"hope", 8,1,3,-90}
set4

{-90, 1, 3, 8, 'hope'}

In [54]:
set4.update(set5)
set4

{-90, 1, 10, 3, 4, 5, 6, 7, 8, 'hope'}


21. Create a set of the first 5 prime numbers.

In [55]:
prime_list= []
for i in range(2,6):
    for j in range(2,6):
        if i%j == 0:
            #print(i,j)
            break
    if i == j:
        #print("i or j ==",i)
        prime_list.append(i)

print("Set of First 5 Prime numbers:",set(prime_list))

Set of First 5 Prime numbers: {2, 3, 5}


22. Check if two sets are identical.

In [56]:
#Two sets are identical if the symmetric difference is a null set

A= {1,2,3,4}
B = {3,4,5,6}
C = {1,2,3,4}

In [57]:
def identical_set(X,Y):
    if len(X.symmetric_difference(Y)) == 0:
        print("SETS ARE IDENTICAL")
    else:
        print("The different elements in the sets are", X.symmetric_difference(Y))

In [58]:
identical_set(A,C) 
identical_set(B,C)

SETS ARE IDENTICAL
The different elements in the sets are {1, 2, 5, 6}

In [59]:
identical_set(A,B)

The different elements in the sets are {1, 2, 5, 6}


23. Create a frozen set.

In [62]:
list1 = ["prime",1,4,7,-56]

In [63]:
frozen_set = frozenset(list1)
frozen_set

frozenset({-56, 1, 4, 7, 'prime'})

In [64]:
type(frozen_set)

frozenset


24. Check if a set is disjoint with another set.

In [67]:
A= {1,2,3,4}
B = {3,4,5,6}
C = {1,2,3,4}
D= {5,6,7,8}
E = {7,8,9}

In [76]:
#isdisjoint()- if the intersection of two sets is null, return true
def disjoint_sets(x,y):
    if x.isdisjoint(y) == True:
        print("SETS", x, y, "are Disjoint")
    else:
        print("SETS",x, y," are NOT Disjoint.  The Common Elements are:" ,x.intersection(y))

In [77]:
disjoint_sets(A,B)
disjoint_sets(A,C)
disjoint_sets(C,B)
disjoint_sets(A,D)
disjoint_sets(B,E)

SETS {1, 2, 3, 4} {3, 4, 5, 6}  are NOT Disjoint.  The Common Elements are: {3, 4}
SETS {1, 2, 3, 4} {1, 2, 3, 4}  are NOT Disjoint.  The Common Elements are: {1, 2, 3, 4}
SETS {1, 2, 3, 4} {3, 4, 5, 6}  are NOT Disjoint.  The Common Elements are: {3, 4}
SETS {1, 2, 3, 4} {8, 5, 6, 7} are Disjoint
SETS {3, 4, 5, 6} {8, 9, 7} are Disjoint

25. Create a set of squares of numbers from 1 to 5.

In [78]:
square_list = [i*i for i in range(1,6)]
square_list

[1, 4, 9, 16, 25]

In [79]:
square_set=set(square_list)
print("set of squares of numbers from 1 to 5 are:",square_set)

set of squares of numbers from 1 to 5 are: {1, 4, 9, 16, 25}


26. Filter out all even numbers from a set.

In [80]:
set7 = {3,4,7,8,0,10,100,-29,-49,-50,4,404}

In [81]:
odd_set = []
for i in set7:
    if i%2 != 0:
        odd_set.append(i)
odd_set = set(odd_set)
print("After Filtering out all even numbers from a set. The odd set is:",odd_set)

After Filtering out all even numbers from a set. The odd set is: {-49, 3, 7, -29}


27. Multiply all elements in a set by 2.

In [82]:
set7

{-50, -49, -29, 0, 3, 4, 7, 8, 10, 100, 404}

In [83]:
list8 = [i*2 for i in set7]
list8

[0, 6, 200, 8, -58, 14, 16, 20, -100, -98, 808]

In [84]:
set8= set(list8)
set8

{-100, -98, -58, 0, 6, 8, 14, 16, 20, 200, 808}

In [85]:
print("After Multiplying all elements by 2 in a set ",set7,". The output set is", set8)

After Multiplying all elements by 2 in a set  {0, 3, 100, 4, -29, 7, 8, 10, -50, -49, 404} . The output set is {0, -58, 6, 8, 200, 808, 14, 16, 20, -100, -98}

28. Create a set of random numbers.

In [88]:
import random
random_list = []
for i in range(0,7):
    random_list.append( random.randint(1,10))
random_list
random_set = set(random_list)
print("A set of random numbers:", random_set)

A set of random numbers: {3, 5, 7, 8, 9}


29. Check if a set is empty.

In [89]:
set5 ={}

In [94]:
def is_set_empty(setA):
    if len(setA) == 0:
        print("Set is Empty")
    else:
        print("Set is not empty. The Elements in the set are:", setA)

In [95]:
is_set_empty(set5)

Set is Empty

In [96]:
is_set_empty(random_set)

Set is not empty. The Elements in the set are: {3, 5, 7, 8, 9}


30. Create a nested set (hint: use frozenset).

In [97]:
nested_set= set([frozenset([4,6,8,90]),frozenset(range(1,6,2))])
nested_set

{frozenset({1, 3, 5}), frozenset({4, 6, 8, 90})}

31. Remove an element from a set using the discard method.

In [104]:
random_set

{3, 5, 7, 8, 9}

In [105]:
random_set.discard(7)

In [106]:
random_set

{3, 5, 8, 9}

32. Compare two sets.

In [107]:
A= {1,2,3,4}
B = {3,4,5,6}
C = {1,2,3,4}
D= {5,6,7,8}
E = {7,8,9}
F= {5,6,7,8}

In [108]:
#Equality of sets

In [109]:
def equality_sets(x,y):
    if x == y:
        print("Sets",x,y, "are EQUAl")
    if len(x.symmetric_difference(y)) == 0:
        print("Sets are Identical")
    else:
        print("Sets",x,y, "are not EQUAL")

In [110]:
equality_sets(A,C)
equality_sets(A,B)
equality_sets(B,D)

Sets {1, 2, 3, 4} {1, 2, 3, 4} are EQUAl
Sets are Identical
Sets {1, 2, 3, 4} {3, 4, 5, 6} are not EQUAL
Sets {3, 4, 5, 6} {8, 5, 6, 7} are not EQUAL

In [112]:
def identical_set(X,Y):
    if len(X.symmetric_difference(Y)) == 0:
        print("SETS",X, Y ,"ARE IDENTICAL")
    else:
        print("SETS",X, Y ,"ARE NOT IDENTICAL.The Non-Common elements in the sets are", X.symmetric_difference(Y))

In [113]:
identical_set(A,C)
identical_set(A,B)
identical_set(C,D)
identical_set(E,F)
identical_set(D,F)

SETS {1, 2, 3, 4} {1, 2, 3, 4} ARE IDENTICAL
SETS {1, 2, 3, 4} {3, 4, 5, 6} ARE NOT IDENTICAL.The Non-Common elements in the sets are {1, 2, 5, 6}
SETS {1, 2, 3, 4} {8, 5, 6, 7} ARE NOT IDENTICAL.The Non-Common elements in the sets are {1, 2, 3, 4, 5, 6, 7, 8}
SETS {8, 9, 7} {8, 5, 6, 7} ARE NOT IDENTICAL.The Non-Common elements in the sets are {5, 6, 9}
SETS {8, 5, 6, 7} {8, 5, 6, 7} ARE IDENTICAL


33. Create a set from a string.

In [114]:
string1 = "DataScience"

In [115]:
set(string1)

{'D', 'S', 'a', 'c', 'e', 'i', 'n', 't'}


34. Convert a set of strings to a set of integers.

In [116]:
set1 = {"4","5","8","100","90"}

In [117]:
set_int ={int(i) for i in set1}

In [118]:
set_int

{4, 5, 8, 90, 100}


35. Convert a set of integers to a set of strings.

In [119]:
set_string = {str(i) for i in set_int}
set_string

{'100', '4', '5', '8', '90'}


36. Create a set from a tuple.

In [122]:
tuple1 = (45,6,"90", True, "anything")

In [123]:
set2= {i for i in tuple1}
print("After creating a set from tuple", tuple1, "The converted set is:", set2)

After creating a set from tuple (45, 6, '90', True, 'anything') The converted set is: {True, 'anything', 6, 45, '90'}


37. Convert a set to a tuple.

In [125]:
set_string

{'100', '4', '5', '8', '90'}

In [124]:
tuple2= tuple(set_string)
tuple2

('4', '100', '5', '8', '90')

In [126]:
set_int

{4, 5, 8, 90, 100}

In [127]:
tuple3 = tuple(set_int)
tuple3

(100, 5, 4, 8, 90)

In [128]:
type(tuple2)

tuple

In [129]:
type(tuple3)

tuple


38. Find the maximum value in a set.

In [130]:
set_int

{4, 5, 8, 90, 100}

In [131]:
max(set_int)

100


39. Find the minimum value in a set.

In [132]:
min(set_int)

4


40. Create a set from user input.

In [134]:
user_input = input()

 data123

In [135]:
user_set = {i for i in user_input}

In [136]:
user_set

{'1', '2', '3', 'a', 'd', 't'}

41. Check if the intersection of two sets is empty.

In [137]:
A= {1,2,3,4}
B = {3,4,5,6}
C = {1,2,3,4}
D= {5,6,7,8}
E = {7,8,9}
F= {5,6,7,8}

In [138]:
A.intersection(D)

set()

In [139]:
A.intersection(B)

{3, 4}

In [143]:
if len(B.intersection(E)) ==0:
    print("yes")
else:
    print("no")

yes

In [150]:
def is_intersection_empty(x,y):
    if len(x.intersection(y)) ==0:
        print("The intersection of two sets", x, "and", y , "is EMPTY")
    else:
        print("The intersection of two sets ISNT empty. The Common elements are:",x.intersection(y))

In [151]:
is_intersection_empty(A,F)
is_intersection_empty(A,B)
is_intersection_empty(A,C)
is_intersection_empty(A,E)

The intersection of two sets {1, 2, 3, 4} and {8, 5, 6, 7} is EMPTY
The intersection of two sets ISNT empty. The Common elements are: {3, 4}
The intersection of two sets ISNT empty. The Common elements are: {1, 2, 3, 4}
The intersection of two sets {1, 2, 3, 4} and {8, 9, 7} is EMPTY

42. Create a set of the first 5 Fibonacci numbers.

In [1]:
num =[i for i in range(0,7)]
num

[0, 1, 2, 3, 4, 5, 6]

{3, 4}

43. Remove duplicates from a list using sets.

In [1]:
list1 =[1,5,7,"things",7, "300" "pwskiils",True,True,"300",7,1,5,7]

In [2]:
list1

[1, 5, 7, 'things', 7, '300pwskiils', True, True, '300', 7, 1, 5, 7]

In [3]:
set(list1)

{1, '300', '300pwskiils', 5, 7, 'things'}

In [4]:
list2 =[]
for i in list1:
    if i not in list2:
        list2.append(i)

print(list2)

[1, 5, 7, 'things', '300pwskiils', '300']

44. Check if two sets have the same elements, regardless of their count.

In [9]:

D= {5,6,7,8,9}
E = {5,6,7,8,9,10,11}

In [10]:
D.symmetric_difference(E)

{10, 11}

In [11]:
D.intersection(E)

{5, 6, 7, 8, 9}

In [13]:
E.intersection(D)

{5, 6, 7, 8, 9}

45. Create a set of the first `n` powers of 2.

In [25]:
n=5
list_npower = [i**2 for i in range(1,n+1)]

In [26]:
list_npower

[1, 4, 9, 16, 25]

In [27]:
set_npower = set(list_npower)
set_npower

{1, 4, 9, 16, 25}

46. Find the common elements between a set and a list.

In [70]:
set1 = {3,6,7,10,39,60,499,"element", "ruby"}
list1 =[1,6,5,7,3,400, "ruby", 78,90,100]  
common = []

In [71]:
list2 = [i for i in set1]

In [72]:
list2

[3, 6, 39, 'ruby', 7, 10, 'element', 499, 60]

In [73]:
common = [i for i in list1 if i in list2]

In [76]:
print("the common elelments between set", set1 ,"and list" ,list1, "are:",
      common)

the common elelments between set {3, 6, 39, 'ruby', 7, 10, 'element', 499, 60} and list [1, 6, 5, 7, 3, 400, 'ruby', 78, 90, 100] are: [6, 7, 3, 'ruby']

47. Create a set of the first `n` triangular numbers.

In [ ]:
triangular numbers = [1, 3, 6, 10, 15, 21, 28, 36, 45,]

In [13]:
tri_num = []
num = 0
for i in range(1,10):
    num =num +i
    tri_num.append(num)
    
print(tri_num)

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [14]:
{i for i in tri_num}

{1, 3, 6, 10, 15, 21, 28, 36, 45}

48. Check if a set contains another set as a subset.

In [117]:
A= {1,2,3,4}
B = {3,4,5,6}
C = {1,2,3,4}
D= {5,6,7,8}
E = {7,8,9}
F= {5,6,7,8,9}

In [132]:
def if_subset(x,y):
    if x.issubset(y):
        print("YES.", x ,"is a subset of" ,y)
    else:
        print("NO.", x ,"is NOT a subset of" ,y)

In [133]:
if_subset(E,F)

YES. {8, 9, 7} is a subset of {5, 6, 7, 8, 9}

In [134]:
if_subset(A,B)

NO. {1, 2, 3, 4} is NOT a subset of {3, 4, 5, 6}

49. Create a set of alternating 1s and 0s of length `n`.

In [111]:
n= 10
list3= []
for i in range(1,n+1):
    if i%2 == 0:
        list3.append(1)
    else:
        list3.append(0)
print(list3)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [112]:
set(list3)

{0, 1}

50. Merge multiple sets into one.

In [101]:
#merge all sets into A set
A= {1,2,3,4}
B = {3,4,5,6}
C = {1,2,3,4}
D= {5,6,7,8}
E = {7,8,9}
F= {5,6,7,8}

In [102]:
A.update(A,B,C,D,E,F)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}